.profile__edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: inherit;
  position: relative;
  transition: opacity .5s ease-in;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: .6;
}

.profile__edit-button::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../../../images/icon/icon-edit.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 400px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__edit-button::before {
    width: 7.5px;
    height: 7.5px;
  }

}
