.popup__container {
  margin: auto;
  padding: 36px;
  flex: 0 1 430px;
  /* min-height: 330px; */
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #fff;
}

@media screen and (max-width: 550px) {
  .popup__container {
    padding: 25px 22px;
  }
}
