.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    font-size: 14px;
  }
}
