.header {
  width: 100%;
  min-height: 74px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 27px 0;
    width: 100%;
    min-height: 56px;
  }
}
